<section class="middle-section">
    <div class="app-development technologies">
        <div class="banner-wrapper text-center">
            <div class="container">
                <div class="banner-content flex">
                    <div class="left-section">
                        <div class="banner-headline">
                            Creative Android App Development
                        </div>
                        <div class="banner-text">We deliver web and mobile app development services to global Businesses since 2009, with nearly 100% project delivery success. Hire the best programmers at affordable prices.We deliver web Businesses since 2009, with nearly 100% project delivery success. Hire the best programmers at affordable prices.</div>
                        <button>Hire Team</button>
                    </div>
                    <div class="right-section">
                        <img src="images/andriod-app-development.png"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="ios-tech ai-wrapper form-group">
                <div class="ai-content animation-element">
                    <h2 class="ai-headline text-center">Our Expertise in Android Development</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img class="expertise-img" src="images/andriod-app-img.png"/>
                    </div>
                    <div class="col-md-8">
                        <p>
                            Savitriya was built with a vision of bringing in the best talent pool from across the world, powering the next Silicon Valley in India. <br/>
                            We are an enthusiastic team of technical architects, analysts, designers and developers who like to code next gen products. <br/>
                            Our engineering team has seasoned developers that deliver crisp mobile apps across popular platforms like iOS, Android and Windows Phone. 
                        </p>
                        <p>It takes a crystal clear vision to deliver innovative applications from a bunch of talented people. We understand the importance of user friendly and feature rich applications. User experience forms a predominant feature of all our work.</p>
                    </div>
                </div>
                <div class="ai-wrapper form-group">
                    <div class="ai-content animation-element">
                        <h2 class="ai-headline text-center mb-0">Android App Development Services</h2>
                        <small>Services we provide</small>
                    </div>
                    <div class="row development-services">
                        <div class="col-md-6">
                            <ul>
                                <li><span>Android app integration</span></li>
                                <li><span>Android app consultation</span></li>
                                <li><span>Android app UI/UX designing</span></li>
                                <li><span>Android app modernization</span></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li><span>Custom Android app development</span></li>
                                <li><span>Android app porting</span></li>
                                <li><span>Android app support and maintenance</span></li>
                                <li><span>Android app testing</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tech-services">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <i class="stpl-iphone iphone"></i>
                        <div class="title">iPhone</div>
                    </div>
                    <div class="col-md-3">
                        <i class="stpl-ipad ipad"></i>
                        <div class="title">iPad</div>
                    </div>
                    <div class="col-md-3">
                        <i class="stpl-iphone watchos"></i>
                        <div class="title">WatchOS</div>
                    </div>
                    <div class="col-md-3">
                        <i class="stpl-iphone macos"></i>
                        <div class="title">MacOS</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="ai-wrapper form-group">
                <div class="ai-content animation-element">
                    <h2 class="ai-headline text-center mb-0">WHY CHOOSE US?</h2>
                    <small>Some facts about the savitriya that who we are</small>
                </div>
                <div class="row choose-us">
                    <div class="col-md-7">
                        <p>
                            Savitriya was built with a vision of bringing in the best talent pool from across the world, powering the next Silicon Valley in India. <br/>
                            We are an enthusiastic team of technical architects, analysts, designers and developers who like to code next gen products. <br/>
                            Our engineering team has seasoned developers that deliver crisp mobile apps across popular platforms like iOS, Android and Windows Phone. 
                        </p>
                        <p>
                            It takes a crystal clear vision to deliver innovative applications from a bunch of talented people. We understand the importance of user friendly and feature rich applications. User experience forms a predominant feature of all our work. <br/>
                            We believe in leveraging technology to deliver cost effective and easy-to-use products across all domains. We believe The best comes out of Passion. We don’t just believe in our solutions, we are passionate about what we do We nourish a culture that involves a mix of adrenalin and passion to achieve, deliver and keep innovating, as that is what IT is all about !
                        </p>
                    </div>
                    <div class="col-md-5">
                        <div class="savitriya-facts">
                            <div class="boxes box1">
                                <div class="text-center">
                                    <div class="count">11<span>+</span><br/></div>
                                    Years
                                </div>
                            </div>
                            <div class="boxes box2">
                                <div class="text-center">
                                    <div class="count">60<span>+</span><br/></div>
                                    Teams
                                </div>
                            </div>
                            <div class="boxes box3">
                                <div class="text-center">
                                    <div class="count">100<span>+</span><br/></div>
                                    Projects
                                </div>
                            </div>
                            <div class="boxes box4">
                                <div class="text-center">
                                    <div class="count">96<span>%</span><br/></div>
                                    Client satisfaction
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="great-idea">
                <div class="title">Have A Great Idea In Mind?</div>
                <div class="sub-title">We Help To Take Your Business Forward</div>
                <div class="btn-wrapper"><a class="btn-contact" href="/contact-us">Contact Us</a></div>
            </div>
        </div>
    </div>
</section>
