<section class="middle-section">
    <div class="app-development design-services">
        <div class="banner-wrapper text-center">
            <div class="container">
                <div class="banner-content">
                    <div class="banner-headline">We provide <span style="color: #F7B316;">User Centric </span>
                        <h1>Design Services </h1>
                    </div>
                    <div class="banner-text">We deliver web application development services to global Businesses
                        since 2009, <br class="d-none d-lg-block"> with nearly 100% project delivery success. Hire
                        the best programmers at affordable prices.</div>
                    <button>Hire Team</button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="ai-wrapper form-group" id="UIUXDesign">
                <div class="row">
                    <div class="col-lg-7 change-order">
                        <div class="ai-content animation-element">
                            <h2 class="ai-headline">UX/UI Design</h2>
                            <div class="ai-text">
                                Our team of skilled UI/UX designers gives a design-centric approach for an optimum
                                user experience that provides 360-degree customer satisfaction. This gives an
                                insightful glance into how to deal with complex applications and technical products
                                from a cursory glance. It elasticities an in-depth perception of what the end
                                product would look like without getting into the internal development modules. UI/UX
                                design gives a user an architecting path to replicate as in what the product will
                                appear like once it is developed.
                            </div>
                            <div class=" row ai-list-wrapper">
                                <ul class="col-lg-6 ai-list">
                                    <li>As UI/UX deals with the visual styling of a product it largely caters to the
                                        aesthetic value of when end-result is launched.</li>
                                    <li>Since visual value largely gauges the customer footfall, it is a great idea
                                        to have a customer-friendly UI.</li>
                                </ul>
                                <ul class="col-lg-6 ai-list">
                                    <li>The more appealing and intuitive your UI is, the more it retains old
                                        customers or aids in acquiring new ones.</li>
                                    <li>With a proper customer journey optimize resources, develop time, and bring a
                                        cost-effective solution.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="ai-image">
                            <img class="bubble-circle bubble-circle-left" src="images/ux-ui-design.png"
                                alt="Ui Ux design">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ai-wrapper form-group" id="Wireframe">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="ai-image">
                            <img class="bubble-circle bubble-circle-left" src="images/wireframe-design.png"
                                alt="wireframe design">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="ai-content animation-element">
                            <h2 class="ai-headline">Wireframe Design</h2>
                            <div class="ai-text">
                                Wireframe also eminent as ‘Skeleton’ of an app or website represents the building
                                structure of the modules before they are solidified into complete prototypes. It is
                                used to give the stakeholders a vision into what the ultimate end-product looks like
                                and is beneficial in case the structure needs any tweaking around. Our designers use
                                the most pivotal elements of the wireframe with colours that stand out to get it
                                approved by you and embark on the final product development process. Since
                                wireframes aren’t that hefty to produce and more so ever it needs minimal effort to
                                coordinate them being in the initial phase it helps you invest lesser time and cost.
                            </div>
                            <div class=" row ai-list-wrapper">
                                <ul class="col-lg-6 ai-list">
                                    <li>With thoughtfully designed wireframes it is seamlessly effective to delve
                                        into the blueprint of the final product without diving too deep to make
                                        changes.</li>
                                    <li>We foster your involvement at every step of wireframe design to achieve
                                        customer delight.</li>
                                </ul>
                                <ul class="col-lg-6 ai-list">
                                    <li>With quick collaboration inputs can come in handy.</li>
                                    <li>It is easy to review wireframes designed in 2D and suggest alterations.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ai-wrapper form-group" id="ResponsiveUI">
                <div class="row">
                    <div class="col-lg-7 change-order">
                        <div class="ai-content animation-element">
                            <h2 class="ai-headline">Responsive Design</h2>
                            <div class="ai-text">
                                The responsive design of a technical page or app is instrumental in gauging the
                                overall performance of the application. We ensure that our technology renders quick
                                turn-around-time on various platforms with round-about operability. Our websites or
                                apps adapt to minimum and maximum screen resolution to ensure usability and
                                satisfaction. We use flexible images that are directly sized in relative units which
                                implies they tweak themselves based on the platform or resolution they are run on.
                                Our responsive design of apps and pages adjust themselves effectively based on their
                                running platform be it laptop, tablet, PC, or a mobile phone.
                            </div>
                            <div class=" row ai-list-wrapper">
                                <ul class="col-lg-6 ai-list">
                                    <li>Attract a wide audience that calls for varying resolutions or platforms they
                                        are run on.</li>
                                    <li>Analytics can be monitored seamlessly based on which gadget they are run on
                                        thereby coming up with adequate strategies to take the business to the next
                                        level.</li>
                                </ul>
                                <ul class="col-lg-6 ai-list">
                                    <li>It helps in branding the organization thereby complying with SEO practices
                                        for different platforms..</li>
                                    <li>Lower maintenance needs as in one testing works for all the platforms the
                                        application or web page they are run on saving time and effort of the
                                        workforce.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="ai-image">
                            <img class="bubble-circle bubble-circle-left" src="images/responsive-design.png"
                                alt="responsive design">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ai-wrapper form-group" id="Branding">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="ai-image">
                            <img class="bubble-circle bubble-circle-left" src="images/branding.png" alt="branding">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="ai-content animation-element">
                            <h2 class="ai-headline">Branding</h2>
                            <div class="ai-text">
                                It is the kind of visuals – font, colours, and images – that are used to create to
                                create an identity of a particular brand. Our branding technique allows your clients
                                and prospects to relate to your product and services without having to peel off
                                layers to identify the organization’s presence. We focus on creating a simple yet
                                resonating identity that not only makes you stand out in the market but also builds
                                trust in the stakeholders with standard design and display. It is used to display a
                                strong brand image with a qualitative brand logo that delivers the organization’s
                                mission statement.
                                <div class=" row ai-list-wrapper">
                                    <ul class="col-lg-6 ai-list">
                                        <li>Acquire and retain clients by having a competitive edge in the market at
                                            a much lower cost.</li>
                                        <li>Shape customers’ expectations with stories, relationships, marketing,
                                            and visual messages.</li>
                                    </ul>
                                    <ul class="col-lg-6 ai-list">
                                        <li>Compose the brand promise where prospects identify the brand
                                            deliverables by engaging in hindsight experience.</li>
                                        <li>Refine customer experience by giving them promised elements that builds
                                            trust in the market.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('partials/latest-projects') %>
        </div>
    </div>
</section>