<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg  navbar-light">
            <div class="navbar-mobile">
                <a class="navbar-brand" href="/">
                    <img src="/images/savitriya-logo.png" alt="Savitriya-Logo" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarNavDropdown1" aria-controls="navbarNavDropdown1" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-dark navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarNavDropdown1">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="about-us.html">About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" role="button"  aria-haspopup="true" aria-expanded="false">Services</div>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                            <div class="container">
                                <ul class="compartments">
                                    <li class="mobile-apps field">
                                        <a class="sub-nav-heading item" href="/mobile-apps">
                                            <i class="stpl-mobile-app"></i>
                                            <span>Mobile Apps</span>
                                        </a>
                                        <ul>
                                            <li class="item">
                                                <a class="link dropdown-item" href="#IOSApplication">IOS
                                                    Application</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item" href="#AndroidApplication">Android
                                                    Application</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item" href="#HybridApplication">Hybrid
                                                    Application</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item"
                                                    href="#ApplicationIntegration">Application Integration</a>
                                            </li>
                                            <!-- <li class="item">
                                                <a class="link dropdown-item" href="#">Application Maintance</a>
                                            </li> -->
                                        </ul>
                                    </li>
                                    <li class="web-apps field">
                                        <a class="sub-nav-heading" href="/web-apps">
                                            <i class="stpl-desktop-code" style="font-size: 25px;"></i> <span>Web Apps</span>
                                        </a>
                                        <ul>
                                            <li class="item">
                                                <a class="link dropdown-item"
                                                    href="#WebsiteDevelopment">Website Development</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item"
                                                    href="#E-Commerce">E-Commerce</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item" href="#CMSDevelopment">CMS
                                                    Development</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item" href="#CustomDevelopment">Custom
                                                    Development</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="design field">
                                        <a class="sub-nav-heading" href="/design-service">
                                            <i class="stpl-wifi-tower"></i> <span>Design</span>
                                        </a>
                                        <ul>
                                            <li class="item">
                                                <a class="link dropdown-item" href="#UIUXDesign">UI/UX
                                                    Design</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item"
                                                    href="#Wireframe">Wireframe</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item"
                                                    href="#ResponsiveUI">Responsive Design</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item"
                                                    href="#Branding">Branding</a>
                                            </li>
                                            <!-- <li class="item">
                                                <a class="link dropdown-item" href="#">UX audit</a>
                                            </li> -->
                                        </ul>
                                    </li>
                                    <li class="quality-assurance field">
                                        <a class="sub-nav-heading" href="/quality-assurance">
                                            <i class="stpl-protection-shield"></i> <span>Quality Assurance</span>
                                        </a>
                                        <ul>
                                            <li class="item">
                                                <a class="link dropdown-item"
                                                    href="#ManualTesting">Manual Testing</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item"
                                                    href="#AutomationTesting">Automation Testing</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item" href="#PerformanceTesting">Performance
                                                    Testing</a>
                                            </li>
                                        </ul>
                                        <button class="hire-team">Hire a Team</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" role="button"  aria-haspopup="true" aria-expanded="false">Technologies</div>
                        <div class="secondary-list dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                            <div class="container">
                                <ul class="compartments">
                                    <li class="mobile field">
                                        <div class="sub-nav-heading item">
                                            <i class="stpl-mobile-app"></i>
                                            <span>Mobile</span>
                                        </div>
                                        <ul>
                                            <li class="item">
                                                <a class="link dropdown-item" href="/ios-app-development">IOS</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item" href="/android-app-development">Android</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item" href="/react-native-app">React Native</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item" href="/flutter-app">Flutter</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item" href="/ionic-app">Ionic</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="frontend field">
                                        <div class="sub-nav-heading item">
                                            <i class="stpl-mobile-app"></i>
                                            <span>Frontend</span>
                                        </div>
                                        <ul>
                                            <li class="item">
                                                <a class="link dropdown-item" href="/angularjs-development">Angular</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item" href="/reactjs-development">React JS</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item" href="/vuejs-development">Vue JS</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item" href="/typescript-development">Typescript</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item" href="/html5-development">HTML</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="backend field">
                                        <a class="sub-nav-heading" href="/design-service">
                                            <i class="stpl-wifi-tower"></i> <span>Backend</span>
                                        </a>
                                        <ul>
                                            <li class="item">
                                                <a class="link dropdown-item" href="/node-development">Node</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item"
                                                    href="/java-development">Java</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item"
                                                    href="/python-development">Python</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item"
                                                    href="#Branding">PHP</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item" href="#">.Net</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item" href="#">Ruby</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="database field">
                                        <a class="sub-nav-heading" href="/quality-assurance">
                                            <i class="stpl-protection-shield"></i> <span>Database</span>
                                        </a>
                                        <ul>
                                            <li class="item">
                                                <a class="link dropdown-item"
                                                    href="#ManualTesting">MongoDB</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item"
                                                    href="#AutomationTesting">MySQL</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item" href="#PerformanceTesting">Oracle</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="devops field">
                                        <a class="sub-nav-heading" href="/quality-assurance">
                                            <i class="stpl-protection-shield"></i> <span>DevOps</span>
                                        </a>
                                        <ul>
                                            <li class="item">
                                                <a class="link dropdown-item"
                                                    href="#ManualTesting">AWS</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item"
                                                    href="#AutomationTesting">Google Cloud</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item" href="#PerformanceTesting">Azure</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="cms-ecommerce field">
                                        <a class="sub-nav-heading" href="/quality-assurance">
                                            <i class="stpl-protection-shield"></i> <span>CMS & E-Commerce</span>
                                        </a>
                                        <ul>
                                            <li class="item">
                                                <a class="link dropdown-item"
                                                    href="#ManualTesting">Drupal</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item"
                                                    href="#AutomationTesting">Wordpress</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item"
                                                    href="#AutomationTesting">October CMS</a>
                                            </li>
                                            <li class="item">
                                                <a class="link dropdown-item" href="#PerformanceTesting">Magento</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-btn-link nav-link" href="career.html">Careers</a>
                    </li>
                    <li><button class="btn lets-talk">Let's talk</button></li>
                </ul>

            </div>
        </nav>
    </div>
</header>