    
<section class="middle-section home-page" id="middle_section">
    <div class="banner-wrapper">
        <!-- <img class="banner-background" src="/images/homepage-background.png" alt="solution for you business"> -->
        <div class="container">
            <div class="row form-group">
                <div class="col-lg-6">
                    <div class="banner-content">
                        <div class="banner-headline">We create <span style="color: #F7B316;">solutions</span>
                            for your business needs</div>
                        <div class="banner-text">We deliver web and mobile app development services to global
                            Businesses since 2009, with nearly 100% project delivery success. Hire the best
                            programmers at affordable prices. Our design-focused approach and project execution
                            processes help you to deliver the right solutions.</div>
                        <h1 style="text-indent: -999em;font-size: 1px;">Savitriya Techologies</h1>
                        <button>Get Started</button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="image-content">
                        <img class="cloud-icon-banner hidden" src="/images/cloud-icon-banner.png" alt="">
                        <img class="coding-console-banner  hidden" src="/images/coding-console-banner.png" alt="" />
                        <img class="contact-icon-banner  hidden" src="/images/contact-icon-banner.png" alt="" />
                        <img class="development-icon-banner  hidden" src="/images/development-icon-banner.png"
                            alt="" />
                        <img class="idea-bulb" src="/images/idea-bulb.png" alt="" />
                        <img class="pot  hidden" src="/images/pot.png" alt="" />
                        <img class="search-icon-banner  hidden" src="/images/search-icon-banner.png" alt="" />
                        <img class="square-bracket-banner  hidden" src="/images/square-bracket-banner.png" alt="">
                        <img class="lines" src="/images/lines.png" alt="" />
                        <img class="wheel  hidden" src="/images/wheel.png" alt="">
                        <img class="analytics  hidden" src="/images/analytics-icon-banner.png" alt="" />
                        <img class="internet  hidden" src="/images/internet-icon-banner.png" alt="" />
                        <img class="dot" src="/images/dot.png" alt="" />
                        <img class="man" src="/images/man-with-laptop.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="our-service text-center">
        <div class="container">
            <div class="our-service-header">
                <h2 class="home-sub-headlines">OUR SERVICES</h2>
                <p class="sub-text">Global entrepreneurship that pats the gap between you and successful
                    solutions</p>
            </div>
            <div class="light-circles">
                <div class="circle-light"></div>
                <div class="circle-blue"></div>
                <div class="circle-green"></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6 col-md-6 col-lg-4 form-group">
                    <div class="our-service-card text-justify animation-element card-1">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <div class="icon-bg">
                                    <i class="stpl-document"></i>
                                </div>
                                <h3 class="card-headline">
                                    Product Development
                                </h3>
                                <p class="card-text">Our seasoned team develops the most articulate products that bring cost-effective, robust, and lasting products to take your business to the next level.</p>
                            </div>
                            <div class="flip-box-back">
                                <a href="#">Learn More<i class="stpl-direction-right"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 form-group">
                    <div class="our-service-card text-justify animation-element">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <div class="icon-bg" style="background-color: #FF6283;">
                                    <i class="stpl-screen-analytics"></i>
                                </div>
                                <h3 class="card-headline">
                                    Application Development
                                </h3>
                                <p class="card-text">Our curation team ensures that the app we develop resonates end-to-end with your requirements and creates the best solutions that stand out in the market.</p>
                            </div>
                            <div class="flip-box-back flip-box-back-app">
                                <a href="app-development.html">Learn More<i class="stpl-direction-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 form-group">
                    <div class="our-service-card text-justify animation-element">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <div class="icon-bg" style="background-color: #03CDA0;">
                                    <i class="stpl-support"></i>
                                </div>
                                <h3 class="card-headline">
                                    24h/7 Days Support
                                </h3>
                                <p class="card-text">We are lenient in our approach to offer services for your requirements which implies we are at your beck and call 24*7 and offer stringent business solutions to you.</p>
                            </div>
                            <div class="flip-box-back flip-box-back-support">
                                <a href="#">Learn More<i class="stpl-direction-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="our-service-card text-justify animation-element">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <div class="icon-bg" style="background-color: #F78560;">
                                    <i class="stpl-wifi-tower"></i>
                                </div>
                                <h3 class="card-headline">
                                    Ui/Ux Design
                                </h3>
                                <p class="card-text">The UI/UX offered by us is market-leading and unique. Our design
                                    process is rigorous and ensures that what we deliver is nothing short of quality and
                                    stands amongst the top echelon.
                                </p>
                            </div>
                            <div class="flip-box-back flip-box-back-design">
                                <a href="design-service.html">Learn More<i class="stpl-direction-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="our-service-card text-justify animation-element">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <div class="icon-bg" style="background-color: #F7A53B;">
                                    <i class="stpl-protection-shield"></i>
                                </div>
                                <h3 class="card-headline">
                                    Quality Assurance
                                </h3>
                                <p class="card-text">Our developed apps or solutions are tested end-to-end to ensure there are no loopholes that leave scope for failure which marks that the solutions are robust and ever-lasting.</p>
                            </div>
                            <div class="flip-box-back flip-box-back-quality">
                                <a href="quality-assurence.html">Learn More<i class="stpl-direction-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="our-service-card text-justify animation-element">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <div class="icon-bg" style="background-color: #539AFF;">
                                    <i class="stpl-cloud-database"></i>
                                </div>
                                <h3 class="card-headline">
                                    Application Integration
                                </h3>
                                <p class="card-text">We safeguard the sharing of processes and business data among targeted applications which also helps in the interaction of data between on-premises and cloud apps.
                                </p>
                            </div>
                            <div class="flip-box-back">
                                <a href="#">Learn More<i class="stpl-direction-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img class="doted-design  animation-element in-view" src="/images/testimonial-doted-design.png" alt="">
    </div>
    <div class="our-process">
        <div class="container">
            <h2 class="home-sub-headlines text-center">OUR PROCESS</h2>
            <p class="sub-text text-center">We simplify Development process to build valuable solution.</p>
            <div class="light-circles">
                <div class="circle-light"></div>
                <div class="circle-blue"></div>
                <div class="circle-green"></div>
            </div>
            <div class="our-process-wrapper">
                <div class="line animation-element"></div>
                <div class="d-flex">
                    <div class="sdlc-process">
                        <div class="form-group">
                            <div class="our-process-icon animation-element"
                                style="border: 1px solid#F7A53B; color: #F7A53B;">
                                <div class="icon"><i class="stpl-pen-pointer"></i></div>
                                <div class="dot" style="background-color:#F7A53B;"></div>
                            </div>
                            <div class="our-process-content animation-element">
                                <h3 style="color: #F7A53B;">Requirement <br /> Analysis</h3>
                                <!-- <p>We mine the best existing technologies and amalgamate them to supply only quality.
                </p> -->
                            </div>
                        </div>
                    </div>
                    <div class="sdlc-process">
                        <div class="form-group">
                            <div class="our-process-icon animation-element"
                                style="border: 1px solid#638235; color: #638235;">
                                <div class="icon"><i class="stpl-ui-design"></i></div>
                                <div class="dot" style="background-color:#638235;"></div>
                            </div>
                            <div class="our-process-content animation-element">
                                <h3 style="color: #638235;">System <br /> Design</h3>
                                <!-- <p>We mine the best existing technologies and amalgamate them to supply only quality.
                </p> -->
                            </div>
                        </div>
                    </div>
                    <div class="sdlc-process">
                        <div class="form-group">
                            <div class="our-process-icon  animation-element"
                                style="border: 1px solid #FF6283; color: #FF6283;">
                                <div class="icon"><i class="stpl-desktop-code" style="color: #FF6283;"></i>
                                </div>
                                <div class="dot" style="background-color:#FF6283;"></div>
                            </div>
                            <div class="our-process-content animation-element">
                                <h3 style="color: #FF6283;">Development</h3>
                                <!-- <p>Our emphasis is on market research and product development.</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="sdlc-process">
                        <div class="form-group">
                            <div class="our-process-icon  animation-element"
                                style="border: 1px solid #03CDA0; color: #03CDA0;">
                                <div class="icon"><i class="stpl-ab-testing"></i></div>
                                <div class="dot" style="background-color:#03CDA0;"></div>
                            </div>
                            <div class="our-process-content animation-element">
                                <h3 style="color: #03CDA0;">Testing</h3>
                                <!-- <p>We implement quality analysis of the apps to bring fully-functional solutions. -->
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="sdlc-process">
                        <div class="form-group">
                            <div class="our-process-icon  animation-element"
                                style="border: 1px solid #539AFF; color: #539AFF;">
                                <div class="icon"><i class="stpl-rocket"></i></div>
                                <span class="dot" style="background-color:#539AFF;"></span>
                            </div>
                            <div class="our-process-content animation-element">
                                <h3 style="color: #539AFF;">Deployment</h3>
                                <!-- <p>After tailoring the product/app as per necessities they are delivered seamlessly.</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <%- include('partials/latest-projects') %>
        <div class="client-testimonials">
            <h2 class="home-sub-headlines text-center">CLIENT TESTIMONIALS</h2>
            <p class="sub-text text-center">Establishing a relationship with Savitriya-Techologies is the best
                way to get a<br class="d-lg-block d-none"> headstart on taking care of your development needs.
            </p>
            <div class="testimonials-wrapper">
                <div class="images-design">
                    <div class="client-a">
                        <div class="outer-circle">
                            <div class="inner-circle">
                                <img class="animation-element John_doe" src="/images/client2.png" alt="client">
                            </div>
                        </div>
                    </div>
                    <div class="client-b">
                        <div class="outer-circle">
                            <div class="inner-circle" style="margin: 6.5px;">
                                <img class="m-1 animation-element Martin" src="/images/client1.png" alt="client">
                            </div>
                        </div>
                    </div>
                    <div class="client-c">
                        <div class="outer-circle">
                            <div class="inner-circle" style="margin: 5.5px;">
                                <img class="m-1 animation-element Roy" src="/images/client2.png" alt="client">
                            </div>
                        </div>
                    </div>
                    <div class="client-d">
                        <div class="outer-circle">
                            <div class="inner-circle" style="margin:6.5px">
                                <img class="m-1 animation-element Rogger" src="/images/client1.png" alt="client">
                            </div>
                        </div>
                    </div>
                    <div class="client-e">
                        <div class="outer-circle">
                            <div class="inner-circle">
                                <img class="animation-element Robbin" src="/images/client2.png" alt="client">
                            </div>
                        </div>
                    </div>
                    <img class="doted-design  animation-element" src="/images/testimonial-doted-design.png"
                        alt="">
                    <img class="review-client-pic matida_doe" src="/images/client2.png" alt="client" />
                </div>
                <div class="carousel-wrapper">
                    <div class="owl-carousel" id="client-card">
                        <div class="item">
                            <div class="client-review-wrapper" id=matida_doe>
                                <div class="client-review mb-4">Savitriya Technologies has demonstrated solid
                                    knowledge and understanding of Product development and setup. I am please
                                    with the performance.</div>
                                <div class="client-name" style="color: #031223;">Matida Doe</div>
                                <div class="project-name">Head of xyzWeb</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="client-review-wrapper" id="John_doe">
                                <div class="client-review mb-4">Savitriya Technologies has demonstrated solid
                                    knowledge and understanding of Product development and setup. I am please
                                    with the performance.</div>
                                <div class="client-name" style="color: #031223">John Doe</div>
                                <div class="project-name">Head of xyzWeb</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="client-review-wrapper" id="Martin">
                                <div class="client-review mb-4">Savitriya Technologies has demonstrated solid
                                    knowledge and understanding of Product development and setup. I am please
                                    with the performance.</div>
                                <div class="client-name" style="color: #031223">Martin</div>
                                <div class="project-name">Head of xyzWeb</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="client-review-wrapper" id="Roy">
                                <div class="client-review mb-4">Savitriya Technologies has demonstrated solid
                                    knowledge and understanding of Product development and setup. I am please
                                    with the performance.</div>
                                <div class="client-name" style="color: #031223">Roy</div>
                                <div class="project-name">Head of xyzWeb</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="client-review-wrapper" id="Rogger">
                                <div class="client-review mb-4">Savitriya Technologies has demonstrated solid
                                    knowledge and understanding of Product development and setup. I am please
                                    with the performance.</div>
                                <div class="client-name" style="color: #031223">Rogger</div>
                                <div class="project-name">Head of xyzWeb</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="client-review-wrapper" id="Robbin">
                                <div class="client-review mb-4">Savitriya Technologies has demonstrated solid
                                    knowledge and understanding of Product development and setup. I am please
                                    with the performance.</div>
                                <div class="client-name" style="color: #031223">Robbin</div>
                                <div class="project-name">Head of xyzWeb</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
        
