<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/images/favicon.ico">
        <title>A Web and Mobile Software Development Company</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/carousel.min.css">
        <link rel="stylesheet" href="/css/custom.css">
        <link rel="stylesheet" href="/css/responsive.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/animation.css">
        <link rel="stylesheet" href="/css/font-icon.css">
    </head>
    <body>
        <%- include('partials/header') %>
        <%- body %>
        <%- include('partials/footer') %>    
        <script src="/js/jquery-2.2.4.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/custom.js"></script>
        <!-- <script src="/js/main.js"></script> -->
    </body>
</html>