<section class="middle-section">
    <div class="app-development">
        <div class="banner-wrapper text-center">
            <div class="container">
                <div class="banner-content">
                    <div class="banner-headline">
                        <h1 style="color: #F7B316;">Mobile App</h1> Development Services
                    </div>
                    <div class="banner-text">We deliver high-quality low-cost mobile and web apps tailored to your
                        business <br class="d-none d-lg-block"> specifics since 2009 with nearly 100% product
                        delivery rate. </div>
                    <button>Hire Team</button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="ai-wrapper form-group" id="IOSApplication">
                <div class="row">
                    <div class="col-lg-7 change-order">
                        <div class="ai-content  animation-element">
                            <h2 class="ai-headline">IOS Application Development</h2>
                            <div class="ai-text">
                                It is the mode of developing applications for iOS viz. iPhones, iPads, and iPad
                                touch. For developing these apps we use SwiftUI (a declarative framework that our
                                developers use) or the language Objective–C and further, after the development of
                                these apps they are deployed on the App Store. We create an adaptive user interface
                                with the basic building blocks of SwiftUI and refine the app’s accessibility. Our
                                developers curate a modular structure for the iOS apps which can be accessed as per
                                hierarchy.
                            </div>
                            <div class=" row ai-list-wrapper">
                                <ul class="col-lg-6 ai-list">
                                    <li>Apple apps have a higher ROI than other OS which is an unbeaten factor for
                                        going for iOS apps.</li>
                                    <li>iOS apps have a stringent policy for security measures which is a huge edge
                                        when in comparison with other OS in the market.</li>
                                </ul>
                                <ul class="col-lg-6 ai-list">
                                    <li>Following standards is another factor as the iOS apps are first gauged
                                        through security, validation, verification, and safeguarding tests before
                                        getting deployed in App Store.</li>
                                    <li>iOS apps are exemplary to use as they are preferred by a huge margin of
                                        users that swear by their quality and sturdiness.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="ai-image">
                            <img class="bubble-circle bubble-circle-left" src="/images/ios-development.jpeg"
                                alt="ios application development">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ai-wrapper form-group" id="AndroidApplication">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="ai-image">
                            <img class="bubble-circle bubble-circle-left" src="/images/android-development.jpeg"
                                alt="android application development">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="ai-content  animation-element">
                            <h2 class="ai-headline">Android App Development</h2>
                            <div class="ai-text">
                                We are up and running with the latest Android open source code and leverage its
                                capabilities to thrive in the market at an efficient rate. Our team of seasoned
                                professionals develops apps that are robust and durable with in-depth capabilities
                                and are compatible with Android phones using languages like Kotlin, Java, and C++
                                using Android SDK, however, other languages can also be put into use for developing
                                Android compatible apps viz. Go, JavaScript, C, C++, or assembly that need the
                                assistance of JVM.
                            </div>
                            <div class=" row ai-list-wrapper">
                                <ul class="col-lg-6 ai-list">
                                    <li>Easy availability of Android SDK allows quick revisions of apps developed to
                                        sustain in the market with high ROI.</li>
                                    <li>Faster deployment and compatibility with updated OS released allowing older
                                        versions to be catered to.</li>
                                </ul>
                                <ul class="col-lg-6 ai-list">
                                    <li>Android apps are easy to develop and therefore have observed an exponential
                                        spike in the last five years.</li>
                                    <li>Is versatile and scalable on a large foot without having to redevelop the
                                        app entirely on launching new source code.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ai-wrapper form-group" id="HybridApplication">
                <div class="row">
                    <div class="col-lg-7 change-order">
                        <div class="ai-content  animation-element">
                            <h2 class="ai-headline">Hybrid Application Development</h2>
                            <div class="ai-text">
                                We develop single code bars for all applications that imply our hybrid apps run on
                                all OS viz. Apple, Android, or Windows. Going by its name, Hybrid Apps are a mixed
                                breed of web and mobile-based apps using technologies such as JavaScript, CSS, and
                                HTML. There is a seamless balance between the software and hardware in a way that
                                both interact immaculately and is the most common type of app creation.
                                <div class=" row ai-list-wrapper">
                                    <ul class="col-lg-6 ai-list">
                                        <li>It is easier to scale on different platforms or OS implying a smooth
                                            transition with scalable functionality.</li>
                                        <li>There aren’t a plethora of codes to manage which infers there is easy
                                            attention to detail and not a huge chunk of lines of codes to be altered
                                            every time an OS tweaks.
                                        </li>
                                    </ul>
                                    <ul class="col-lg-6 ai-list">
                                        <li>Since there is only one database to be managed the process of
                                            development of the app is faster, secure, and safeguarded.</li>
                                        <li>Hybrid apps are available offline using state-of-the-art technology
                                            which denotes these apps stand amongst the top echelon of business apps
                                            using best-in-class coding languages.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="ai-image">
                            <img class="bubble-circle bubble-circle-left" src="/images/hybride-development.jpeg"
                                alt="hybrid application development">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ai-wrapper form-group" id="ApplicationIntegration">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="ai-image">
                            <img class="bubble-circle bubble-circle-left" src="/images/application-integration.jpeg"
                                alt="application integration">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="ai-content animation-element">
                            <h2 class="ai-headline">Application integration</h2>
                            <div class="ai-text">
                                With our Application Integration services, we enable independent applications
                                designed for individual purposes to exchange data and talk to each other efficiently
                                by cutting costs and unraveling capabilities. The seamless integration of
                                applications allows amalgamation and optimization of data with automated workflows
                                that work stand-alone without the aid of external factors. This provides a
                                contemporary framework of the working units and modernizes the otherwise app
                                development requirement for each nitty-gritty task.<br><br> Application Integration
                                allows the communication between on-premises systems with quickly evolving cloud
                                platforms, therefore, reinforcing the so-called modernization of systems. With this
                                quick infusion of different apps working in a unit, the functionalities are
                                orchestrated to deliver astounding business solutions. As the different applications
                                are brewed together using cutting-edge technology, the data is dispersed over a
                                section of apps making it easier for the integrated systems to work in unison and
                                deliver desired results.
                            </div>
                            <div class=" row ai-list-wrapper">
                                <ul class="col-lg-6 ai-list">
                                    <li>With the lower latency rates the data is dispersed over the cloud (using
                                        SaaS application) and can be accessed from anywhere using integration tools
                                        deployed over the environment.</li>
                                    <li>Improvement of sharing of data in an organization between various tiers and
                                        departments thereby augmenting the interoperability.</li>
                                </ul>
                                <ul class="col-lg-6 ai-list">
                                    <li>Recognition and response of KPIs in an organization quickly thereby
                                        addressing shifts in the global market.</li>
                                    <li>Automation of data delivery for instance a CRM system may start an email
                                        campaign using the data of its system which enhances the transparency of
                                        financial flow.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('partials/latest-projects') %>
        </div>
    </div>
</section>