<section class="middle-section">
    <div class="app-development quality-assurence">
        <div class="banner-wrapper text-center">
            <div class="container">
                <div class="banner-content">
                    <div class="banner-headline">we provide a <h1 style="color: #F7B316;">Quality Assurance</h1>
                        that matters</div>
                    <div class="banner-text">In today’s competitive world, delivering quality products with less
                        time to market is vital. <br class="d-none d-lg-block"> We perform end-to-end testing
                        services for all web and mobile applications.</div>
                    <button>Hire Team</button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="software-testing">
                <h2 class="heading text-center pt-5">Software Testing</h2>
                <p>Companies spend significant portion of their development budget on testing activities and
                    harnessing skilled QA professionals. We understand testing environments are not just expensive
                    but require substantial resources to execute testing. At Savitriya, 20% of time is spent on R&D
                    enhancing the QA processes, exploring emerging testing tools, engage with Open Source community.
                    We are a trusted partner for QA and testing services across the globe.</p>
                <p>Our testing services include: Cloud and mobile testing, Manual testing, Automation testing,
                    Functional testing, Security testing, Compatibility testing, UAT, Mobile testing, Data-Driven
                    testing, Modularity-Driven testing, Keyword-Driven testing, Hybrid testing, Model-Based testing,
                    GUI testing, Cross browser testing and Code Driven testing. We follow standard documenting
                    procedures like creating test plan document and test case/scenario document. While working with
                    automation tools test scripts are created and the test results are stored. To assess performance
                    of different modules and components individually we implement unit testing for the entire
                    project.</p>
            </div>
            <div class="ai-wrapper form-group" id="ManualTesting">
                <div class="row">
                    <div class="col-lg-7 change-order">
                        <div class="ai-content animation-element">
                            <h2 class="ai-headline">Manual Testing</h2>
                            <div class="ai-text">
                                It is the process of manually testing an app or website without using automated
                                testing tools. Here, the test cases and test plans are manually written and
                                incorporated. We take this in compliance and create test cases that are in
                                accordance with the end-user and if the product is acting as per the requirement
                                document or not. Manual testing is the underlying factor behind delivering an
                                impeccable product or service that takes into consideration in-depth testing where
                                even the most complex and hidden modules are tested for 100% of software and
                                applications’ delivery.
                            </div>
                            <div class=" row ai-list-wrapper">
                                <ul class="col-lg-6 ai-list">
                                    <li>White box, black box, and grey-box testing to test the deliverables
                                        inside-out and make it in responsiveness of the expected output.</li>
                                    <li>Test dynamically changing GUIs designs to discover user accessibility or
                                        usability concerns.</li>
                                </ul>
                                <ul class="col-lg-6 ai-list">
                                    <li>Since the test cases are created holistically it implies that the apps or
                                        websites are 100% bug-free.</li>
                                    <li>Our honed team of testers creates robust test cases that are quality-driven
                                        and focus primarily on delivering pragmatic solutions for end-to-end
                                        usability.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="ai-image">
                            <img class="bubble-circle bubble-circle-left" src="images/manual-testing.png"
                                alt="manual testing">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ai-wrapper form-group" id="AutomationTesting">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="ai-image">
                            <img class="bubble-circle bubble-circle-left" src="images/automation-testing.png"
                                alt="automation testing">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="ai-content animation-element">
                            <h2 class="ai-headline">Automation Testing</h2>
                            <div class="ai-text">
                                We perform automation testing using unique testing tools to execute a suite of test
                                cases. With this, we enter data into the testing tool and compare the output with
                                the expected result to generate test statistics. As the product or service is
                                developed, the same cycle of testing is applied to the test suite repeatedly until
                                the desired output is yielded. Automation testing helps in gauging the product or
                                service performance, range of application performance, and execution speed. It also
                                helps in increasing Test Coverage.
                            </div>
                            <div class=" row ai-list-wrapper">
                                <ul class="col-lg-6 ai-list">
                                    <li>It can be applied to use cases where there is a plethora of test cases or
                                        data to be tested.</li>
                                    <li>When there are similar functionalities across different applications
                                        automation testing comes in handy.</li>
                                </ul>
                                <ul class="col-lg-6 ai-list">
                                    <li>If testing is executed on the cross-browser same set of testing tools may
                                        come in handy to deliver statistical resonance.
                                    </li>
                                    <li>Business components can be reused with the scripts designed.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ai-wrapper form-group" id="PerformanceTesting">
                <div class="row">
                    <div class="col-lg-7 change-order">
                        <div class="ai-content animation-element">
                            <h2 class="ai-headline">Performance Testing</h2>
                            <div class="ai-text">
                                It is a non-functional testing regime in which the throughput, load-balancing,
                                speed, and stability are taken into consideration while applying. With Performance
                                Testing, we test the responsiveness of an app while under a given workload. We
                                perform load testing, stress testing, scalability testing, spike testing, etc. on a
                                set of procured data to test desired input and strategize by consuming the
                                performance graph. It also helps in orchestrating the different kinds of testing on
                                the data to deliver the best echelon of applications or services.
                            </div>
                            <div class=" row ai-list-wrapper">
                                <ul class="col-lg-6 ai-list">
                                    <li>It helps is measuring the fundamentals of the application viz. speed,
                                        scalability, response time, accuracy, and stability.</li>
                                    <li>Measure what needs to be altered in the software, app, or service before it
                                        is finally launched in the market.</li>
                                </ul>
                                <ul class="col-lg-6 ai-list">
                                    <li>Estimate performance risks, goals, and requirements to meet consumers’
                                        expectations.</li>
                                    <li>Authenticate the compatible application that goes by the efficiency of the
                                        hardware.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="ai-image">
                            <img class="bubble-circle bubble-circle-left" src="images/performance-testing.png"
                                alt="performance testing">
                        </div>
                    </div>
                </div>
            </div>
            <%- include('partials/latest-projects') %>
        </div>
    </div>
</section>