<section class="middle-section">
    <div class="app-development web-apps">
        <div class="banner-wrapper text-center">
            <div class="container">
                <div class="banner-content">
                    <div class="banner-headline"> Savitriya is an <h1 style="color: #F7B316;">Web Development </h1>
                        company</div>
                    <div class="banner-text">We deliver web application development services to global Businesses
                        since 2009, <br class="d-none d-lg-block"> with nearly 100% project delivery success. Hire
                        the best programmers at affordable prices.</div>
                    <button>Hire Team</button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="ai-wrapper form-group" id="WebsiteDevelopment">
                <div class="row">
                    <div class="col-lg-7 change-order">
                        <div class="ai-content animation-element">
                            <h2 class="ai-headline">Website Development</h2>
                            <div class="ai-text">
                                We curate efficient websites from the scratch with resonating features like website
                                development, maintenance, and web publishing. Our seasoned team of technical
                                architects replicates your brainchild into a tangible website that may be a single
                                page to a broad array of complex pages and scenarios. Apart from creating unique
                                websites we also emphasize cloning existing websites. We use both frontend and
                                backend strategies for web development to deliver quality websites that stand out in
                                the competitive world.
                            </div>
                            <div class=" row ai-list-wrapper">
                                <ul class="col-lg-6 ai-list">
                                    <li>Target your audience base quickly without geographical restraints.</li>
                                    <li>Make your content readable with best SEO practices that filter your most
                                        preferred readers.</li>
                                </ul>
                                <ul class="col-lg-6 ai-list">
                                    <li>Reach out to potential clients and give them time and space to ponder over
                                        their preferences.
                                    </li>
                                    <li>Marketing for different demographics is easier and more feasible.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="ai-image">
                            <img class="bubble-circle bubble-circle-left" src="/images/website-development.jpeg"
                                alt="website development">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ai-wrapper form-group" id="E-Commerce">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="ai-image">
                            <img class="bubble-circle bubble-circle-left" src="/images/e-commerce-development.png"
                                alt="e-commerce development">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="ai-content animation-element">
                            <h2 class="ai-headline">E-Commerce Development</h2>
                            <div class="ai-text">
                                Develop apps that cater to B2B and B2C market demands with a low response time. Get
                                high-performance and scalable eCommerce architecture, conversion-driven framework,
                                and multi-functionality ecosystem that serves the escalating requirements of the
                                marketplace. eCommerce websites serve a competitive edge in the online shopping
                                channel catering to a constant revenue module. With these websites get cutting-edge
                                eCommerce web services for versatile industry needs.
                            </div>
                            <div class=" row ai-list-wrapper">
                                <ul class="col-lg-6 ai-list">
                                    <li>Reach out to your potential customers through B2C eCommerce websites.</li>
                                    <li>Empower clients by delivering B2B marketplace that recurs growth.</li>
                                </ul>
                                <ul class="col-lg-6 ai-list">
                                    <li>Bring multi-vendors to the same platform creating a hub of marketplace.
                                    </li>
                                    <li>Integrate advanced APIs e.g. PayPal, Paytm, Google Analytics, etc.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ai-wrapper form-group" id="CMSDevelopment">
                <div class="row">
                    <div class="col-lg-7 change-order">
                        <div class="ai-content animation-element">
                            <h2 class="ai-headline">CMS Development</h2>
                            <div class="ai-text">
                                How a business grows in the market is directly proportional to how it is presented
                                to potential clients. Therefore, a robust CMS is highly preferable to deliver
                                multi-functional apps and create an aesthetic UI. A competent CMS enables a seamless
                                interaction among designers, content writers, and strategists. It is pivotal to use
                                an effective CMS for delivering the content which is possible without explicit
                                knowledge on technical fronts.
                            </div>
                            <div class=" row ai-list-wrapper">
                                <ul class="col-lg-6 ai-list">
                                    <li>Enter data into the app/website without technical domain knowledge.</li>
                                    <li>Cost-effective for out-of-the-box solutions with open source and freeware.
                                    </li>
                                </ul>
                                <ul class="col-lg-6 ai-list">
                                    <li>SEO friendly features that dig deep into best SEO practices</li>
                                    <li>WordPress, Joomla, Kentico, etc. for basic and advanced requirements.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="ai-image">
                            <img class="bubble-circle bubble-circle-left" src="/images/cms-development.png"
                                alt="cms development">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ai-wrapper form-group" id="CustomDevelopment">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="ai-image">
                            <img class="bubble-circle bubble-circle-left" src="/images/custom-development.png"
                                alt="custom-development">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="ai-content animation-element">
                            <h2 class="ai-headline">Custom Development</h2>
                            <div class="ai-text">
                                Our honed team of solution designers develops apps that are completely distinct and
                                unique from Commercial-Of-The-Shelf (COTS) software. These apps are designed for a
                                specific set of users different from COTS that targets a wide audience base. Custom
                                apps are also eminent as bespoke software or tailor-made apps that are in sync with
                                a narrow set of users. Our clients outsource their requirements to us and we stitch
                                a neat and clean well-defined custom app for them.
                                <div class=" row ai-list-wrapper">
                                    <ul class="col-lg-6 ai-list">
                                        <li>Get unique apps that are custom-made as per your business specifics..
                                        </li>
                                        <li>Quickly scale your apps as per the requirement analysis.
                                        </li>
                                    </ul>
                                    <ul class="col-lg-6 ai-list">
                                        <li>Engage employees on business without fretting about managing apps.</li>
                                        <li>Increase the ROI by leveraging the scope of custom apps.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('partials/latest-projects') %>
        </div>
    </div>
</section>