@font-face {
    font-family: 'STPL-Font-Icons';
    src:  url('../fonts/STPL-Font-Icons.eot?qwjwa4');
    src:  url('../fonts/STPL-Font-Icons.eot?qwjwa4#iefix') format('embedded-opentype'),
      url('../fonts/STPL-Font-Icons.ttf?qwjwa4') format('truetype'),
      url('../fonts/STPL-Font-Icons.woff?qwjwa4') format('woff'),
      url('../fonts/STPL-Font-Icons.svg?qwjwa4#STPL-Font-Icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="stpl-"], [class*=" stpl-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'STPL-Font-Icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .stpl-data-analytics:before {
    content: "\e938";
  }
  .stpl-experienced:before {
    content: "\e937";
  }
  .stpl-save-money:before {
    content: "\e936";
  }
  .stpl-bug:before {
    content: "\e934";
  }
  .stpl-responsive-design:before {
    content: "\e935";
  }
  .stpl-realtime:before {
    content: "\e933";
  }
  .stpl-data-cleaning:before {
    content: "\e931";
  }
  .stpl-user-friendly:before {
    content: "\e932";
  }
  .stpl-interchangeable:before {
    content: "\e930";
  }
  .stpl-flexible:before {
    content: "\e92d";
  }
  .stpl-binding:before {
    content: "\e92e";
  }
  .stpl-approach:before {
    content: "\e92f";
  }
  .stpl-secure-shield:before {
    content: "\e92b";
  }
  .stpl-seo:before {
    content: "\e92c";
  }
  .stpl-one-page:before {
    content: "\e928";
  }
  .stpl-feather-light:before {
    content: "\e929";
  }
  .stpl-technical-support:before {
    content: "\e92a";
  }
  .stpl-easy-testing:before {
    content: "\e905";
  }
  .stpl-open-source:before {
    content: "\e926";
  }
  .stpl-speedometer:before {
    content: "\e927";
  }
  .stpl-app-transfer:before {
    content: "\e924";
  }
  .stpl-menu:before {
    content: "\e920";
  }
  .stpl-code:before {
    content: "\e921";
  }
  .stpl-target:before {
    content: "\e922";
  }
  .stpl-school-materials:before {
    content: "\e923";
  }
  .stpl-easy:before {
    content: "\e925";
  }
  .stpl-crowd:before {
    content: "\e900";
  }
  .stpl-rocket-thin:before {
    content: "\e901";
  }
  .stpl-customize:before {
    content: "\e902";
  }
  .stpl-reusability:before {
    content: "\e903";
  }
  .stpl-capacitor:before {
    content: "\e904";
  }
  .stpl-reload:before {
    content: "\e906";
  }
  .stpl-arrow-circle-o-left:before {
    content: "\e907";
  }
  .stpl-arrow-circle-o-right:before {
    content: "\e908";
  }
  .stpl-facebook:before {
    content: "\e909";
  }
  .stpl-linkedln:before {
    content: "\e90a";
  }
  .stpl-location:before {
    content: "\e90b";
  }
  .stpl-mail:before {
    content: "\e90c";
  }
  .stpl-mobile-app:before {
    content: "\e90d";
  }
  .stpl-pen-pointer:before {
    content: "\e90e";
  }
  .stpl-desktop-code:before {
    content: "\e90f";
  }
  .stpl-ab-testing:before {
    content: "\e910";
  }
  .stpl-rocket:before {
    content: "\e911";
  }
  .stpl-document:before {
    content: "\e912";
  }
  .stpl-screen-analytics:before {
    content: "\e913";
  }
  .stpl-support:before {
    content: "\e914";
  }
  .stpl-wifi-tower:before {
    content: "\e915";
  }
  .stpl-protection-shield:before {
    content: "\e916";
  }
  .stpl-cloud-database:before {
    content: "\e917";
  }
  .stpl-phone-o:before {
    content: "\e918";
  }
  .stpl-ui-design:before {
    content: "\e919";
  }
  .stpl-ipad:before {
    content: "\e91a";
  }
  .stpl-direction-right:before {
    content: "\e91b";
  }
  .stpl-twitter:before {
    content: "\e91c";
  }
  .stpl-angle-down:before {
    content: "\e91d";
  }
  .stpl-long-arrow-right:before {
    content: "\e91e";
  }
  .stpl-iphone:before {
    content: "\e91f";
  }
  