<div class="our-latest-projects">
    <h2 class="home-sub-headlines text-center">OUR LATEST PROJECTS</h2>
    <p class="sub-text text-center">The recent projects give a shout-out to the leading projects already
        existing in the market.<br class="d-lg-block d-none"> These apps are one of a kind and built
        using industry-specific solutions.</p>
    <div class="light-circles">
        <div class="circle-light"></div>
        <div class="circle-blue"></div>
        <div class="circle-covered"></div>
        <div class="circle-green"></div>
        <div class="circle-blue-covered"></div>
    </div>
    <div class="owl-carousel owl-theme" id="latest-cards">
        <div class="item">
            <div class="latest-project-card">
                <a href="https://www.usualsmart.com/" target="_blank" class="latest-thumbnail">
                    <img src="/images/usualsmart.png" alt="Usual Smart">
                </a>
                <p>UsualSmart</p>
                <p>At USUAL SMART , we offer a variety of innovative IT solutions suitable for various
                    industries, and for companies of all sizes.</p>
            </div>
        </div>
        <div class="item">
            <div class="latest-project-card">
                <a href="https://www.shipturtle.com/" target="_blank" class="latest-thumbnail">
                    <img src="/images/shipturtle.png" alt="ShipTurtle">
                </a>
                <p>ShipTurtle</p>
                <p>Transform your Ecommerce Store into a Marketplace in Minutes!</p>
            </div>
        </div>
        <div class="item">
            <div class="latest-project-card">
                <a href="#" class="latest-thumbnail">
                    <img src="/images/pulseplay.png" alt="PulsePlay">
                </a>
                <p>Pulseplay</p>
                <p>Pulseplay is a unique, web based business toolset equipped to support all businesses
                    ranging from small and medium sized enterprises to large corporates.</p>
            </div>
        </div>
        <div class="item">
            <div class="latest-project-card">
                <a href="https://www.bizhound.com/" class="latest-thumbnail">
                    <img src="/images/bizhound.png" alt="BizHound">
                </a>
                <p>BizHound</p>
                <p>The smartest way to buy or sell a business</p>
            </div>
        </div>
    </div>
</div>